	.header img
	{
		float:left;
		width:120px;
		height:100px;
		background-position:cover;
		background-repeat:no repeat;
	}
	
	.header h1
	{
		position:right fixed;
		top:50px;
		left:350px;
		font-size:70px;
		display:compact;
		
	}
	
	#btn09 {
	background-color: #000000;
    width: 60px;
    font-size: 12px;
    color: #fff;
    border: 1px solid #1D3C6A;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 5px 5px;
}
#btn4:active {
	background-color: #323030;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
