body {
    background-color: #eeeeee;
}

.grid {
    width: 650px;
    height: 600px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 10px 50px 50px 50px;
    border-radius: 75px;
    border: 2px solid #cbcbcb;
    box-shadow: 25px 25px 25px 25px #B3B3B3;
}

.grid h1 {
    font-family: "sans-serif";
    background-color: #2C4A8E;
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
    border-radius: 50px;
}

#score {
    color: #5A6772;
    text-align: center;
    font-size: :50px;
}

.grid #question {
    font-family: "monospace";
    font-size: 20px;
    color: #5A6772;
}

.buttons {
    margin-top: 35px;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: #2C4A8E;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1D3C6A;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #57636e;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#btn4, #btn5 {
	background-color: #000000;
    width: 60px;
    font-size: 12px;
    color: #fff;
    border: 1px solid #1D3C6A;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 5px 5px;
}

#btn4:active {
	background-color: #323030;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

#btn5:active {
	background-color: #323030;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
#btn0:active{
	background-color: #323030;
  box-shadow: 0 5px #666;
  transform: translateY(-2px);
}
#btn1:active{
	background-color: #323030;
  box-shadow: 0 5px #666;
  transform: translateY(-2px);
}
#btn2:active{
	background-color: #323030;
  box-shadow: 0 5px #666;
  transform: translateY(-2px);
}
#btn3:active{
	background-color: #323030;
  box-shadow: 0 5px #666;
  transform: translateY(-2px);
}

